.iconWrapper {
    display: flex;
    gap: 0.20rem;
}

.iconSvg {
    display: block;
    height: 1.0rem;
    width: 1.0rem;
    fill: var(--text-color);
}

.iconDanger:hover {
    color: var(--danger-color);
}

.iconDanger:focus {
    color: var(--text-color);
}

.iconDanger:hover svg {
    fill: var(--danger-color);
}

/* Кнопка клонирования при наведении на счетчик страницы */
.iconCounter {
    flex-shrink: 0;
    font-weight: inherit;
}

.iconCounter svg {
    fill: transparent;
}
