:root {
    color-scheme: light dark;
}

/* Основные настройки окна */
body {
    width: 340px;
    padding: 0;
    margin: 0;
    font-family: system-ui;
    text-align: center;
    font-size: 0.75em;
    user-select: none;
    -webkit-user-select: none;
}

/* Строка верхнего или нижнего меню */
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Полужирные заголовки в меню */
.menu .title {
    font-weight: 700;
    font-size: 1.5em;
}

.heading{
    text-transform: uppercase;
}
/* Кнопка */
.button {
    border: none;
    font-size: 1.3em;
    background-color: transparent;
}

.button svg {
    display: block;
    height: 1.1em;
    width: 1.1em;
    fill: rgb(0, 0, 0);
}

.button:disabled,
.button:disabled svg {
    fill: lightgrey;
    pointer-events: none;
}

.button:hover,
.button:hover svg {
    color: rgb(0, 122, 255);
    fill: rgb(0, 122, 255);
    cursor: pointer;
}

.button:active,
.button:active svg {
    color: black;
    fill: black;
}

.button-icon-wrapper {
    display: flex;
    gap: 0.25em;
    align-items: center;
}

/* Стили для SVG */
/*.clickable-icon {*/
/*    cursor: pointer;*/
/*    transition: transform 0.3s ease; !* Плавное изменение размера *!*/
/*}*/

/* Класс для уменьшения размера */
/*.shrink {*/
/*    transform: scale(0.8); !* Уменьшаем размер до 80% *!*/
/*}*/

.records-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

/* Строка с записью */
.record {
    display: flex;
    font-size: 1.1em;
    flex-wrap: nowrap;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    /*padding: 0.25em 0 0.25em 0;*/
}

/* Заголовок записи */
.record-title {
    padding: 0 0.25em 0 0.25em;
    font-size: 1.3em;
    flex-grow: 2;
    text-align: left;
    display: table;
    width: 100%;
}

/* Обрезание текста заголовка в троеточие */
.record-title span {
    display: table-cell;
    font-size: 0.9em;
    max-width: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Выделение полужирным выделенной строки */
.selected {
    font-weight: 700;
    /*color: rgb(0, 122, 255);*/
    /*font-size: 1.1em;*/
}

/* Кнопка клонирования при наведении на счетчик страницы */
.record-counter {
    flex-shrink: 0;
    font-weight: inherit;
}

.record-counter svg {
    display: none;
}

.record-counter:hover svg {
    display: inline;
}

/* Настройки заглушки когда нет записей */
.placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.placeholder svg {
    display: inline-block;
}

/*Цвет кнопок при наведении  */
/*.action:hover {*/
/*    color: rgb(0, 122, 255);*/
/*    cursor: pointer;*/
/*}*/

/*.action:hover svg {*/
/*    fill: rgb(0, 122, 255);*/
/*}*/

.danger:hover {
    color: rgb(255, 59, 48);
}

.danger:focus {
    color: rgb(0, 0, 0);
}

.danger:hover svg {
    fill: rgb(255, 59, 48);
}

/* Сетка настроек */
.settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 0.6em;
}

/* Заголовок раздела настроек */
.settings-title {
    /*text-align: center;*/
    font-weight: 700;
    padding-bottom: 0.6em;
}

/* Сама настройка */
.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3em;
    gap: 0.25em;
}

.setting-copy-rawtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.0em;
}

hr {
    opacity: 0.6;
    width: 100%;
    margin: 0.6em 0;
}

/* Иконки чекбоксов и радио кнопок*/
input[type="checkbox"],
input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
}

input, label {
    cursor: pointer;
}

/* Цвета в темной теме */
@media (prefers-color-scheme: dark) {

    body {
        background-color: darkseagreen;
    }

    .button svg {
        fill: rgb(255, 255, 255);
        cursor: pointer;
    }

    label svg {
        fill: rgb(255, 255, 255);
    }

    /*.action:hover {*/
    /*    color: rgb(10, 132, 255);*/
    /*}*/
    /*.action:hover svg {*/
    /*    fill: rgb(10, 132, 255);*/
    /*}*/
    .danger:hover {
        color: rgb(255, 69, 58);
    }

    .danger:hover svg {
        fill: rgb(255, 69, 58);
    }

    hr {
        opacity: 0.6;
        border-top: 1px solid #fff;
        width: 350px;
        margin: 0.8em 0;
    }
}




