:root {
    color-scheme: light dark;
}

/* Основные настройки окна */
body {
    width: 320px;
    padding: 0;
    margin: 0;
    font-family: system-ui;
    text-align: center;
    font-size: 0.75em;

    user-select: none;
    -webkit-user-select: none;
    /*cursor: default;*/
}

/* Строка верхнего или нижнего меню */
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /*height: 3em;*/
}

/* Полужирные заголовки в меню */
.title {
    font-weight: 700;
    font-size: 1.3em;
}

/* Иконка в кнопке */
.button svg {
    height: 1.3em;
    width: 1.3em;
    margin-bottom: -0.13em;
    fill: rgb(0, 0, 0);
    display: flex;
}

/* Стили для SVG */
.clickable-icon {
    cursor: pointer;
    transition: transform 0.3s ease; /* Плавное изменение размера */
}

/* Класс для уменьшения размера */
.shrink {
    transform: scale(0.8); /* Уменьшаем размер до 80% */
}

.button-icon {
    display: flex;
    gap: 0.25em;
    align-items: center;
}

.button-icon-label {
    font-size: 1.1em;
}

/* Строка с записью */
.record {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0 0.25em 0;
}

.opened {
    font-size: 1.5em;
    color: rgb(0, 122, 255);
}

/* Заголовок записи */
.record .title {
    padding: 0 0.25em 0 0.25em;
    flex-grow: 2;
    text-align: left;
    display: table;
    width: 100%;
}

/* Обрезание текста заголовка в троеточие */
.record .title span {
    display: table-cell;
    font-size: 0.9em;
    font-weight: normal;
    max-width: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Выделение полужирным выделенной строки */
.selected {
    font-weight: 700;
}

/* Кнопка клонирования при наведении на счетчик страницы */
.record-counter {
    flex-shrink: 0;
}

.record-counter svg {
    display: none;
}

.record-counter:hover svg {
    display: inline;
    margin-right: 0.25em;
}

.count-bold {
    font-weight: 700;
    margin-left: 0.35em;
}

/* Настройки заглушки когда нет записей */
.placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.placeholder svg {
    display: inline-block;
}

input, label {
    cursor: pointer;
}

/* Цвет кнопок при наведении  */
.action:hover {
    color: rgb(0, 122, 255);
    cursor: pointer;
}

.action:hover svg {
    fill: rgb(0, 122, 255);
}

.danger:hover {
    color: rgb(255, 59, 48);
}

.danger:focus {
    color: rgb(0, 0, 0);
}

.danger:hover svg {
    fill: rgb(255, 59, 48);
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

/* Сетка настроек */
.settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 0.6em;
}

/* Заголовок раздела настроек */
.settings-title {
    text-align: center;
    font-weight: 700;
    padding-bottom: 0.6em;
}

/* Сама настройка */
.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    gap: 0.25em;
}

.setting-copy-rawtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.0em;
}

.record-wrapper {
    display: flex;
    flex-direction: row;
}

hr {
    opacity: 0.6;
    width: 100%;
    margin: 0.6em 0;
}

/* Иконки чекбоксов и радио кнопок*/
/*input:where([type="checkbox"], [type="radio"]) {*/
/*    display: none;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]) + label:before {*/
/*    display: inline-block;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]) + label svg {*/
/*    height: 1.1em;*/
/*    width: 1.1em;*/
/*    margin-bottom: -0.2em;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]) + label svg:first-of-type {*/
/*    display: none;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]) + label svg:last-of-type {*/
/*    display: inline-block;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]):checked + label svg:first-of-type {*/
/*    display: inline-block;*/
/*}*/

/*input:where([type="checkbox"], [type="radio"]):checked + label svg:last-of-type {*/
/*    display: none;*/
/*}*/

/* Цвета в темной теме */
@media (prefers-color-scheme: dark) {
    .button svg {
        fill: rgb(255, 255, 255);
        cursor: pointer;
    }

    label svg {
        fill: rgb(255, 255, 255);
    }

    .action:hover {
        color: rgb(10, 132, 255);
    }

    .action:hover svg {
        fill: rgb(10, 132, 255);
    }

    .danger:hover {
        color: rgb(255, 69, 58);
    }

    .danger:hover svg {
        fill: rgb(255, 69, 58);
    }

    hr {
        opacity: 0.6;
        border-top: 1px solid #fff;
        width: 350px;
        margin: 0.8em 0;
    }
}



